.card__location {
  font-family: Formular;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  display: block;
  grid-area: location;
  color: #242424;
  max-width: 155px;
  max-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto 0 0;
  border: 0;
}
