.section-cards {
  background-color: #E5E5E5;;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
  /* max-width: 1440px; */
  width: 100%;
}

/* @media screen and (max-width: 1023px) {
        .section-cardss {
          max-width: 703px;
        }
      }
      @media screen and (max-width: 590px) {
        .section-cards {
          max-width: 100%;
        }
      }
      @media screen and (max-width: 425px) {
        .section-cards{

        }
      }
       */
