.page {
  padding: 0;
  background-color: #ecebe8;
  color: #242424;
  margin: 0 auto;
  max-width: 1440px;
  /* min-width: 320px; */
  min-width: 414px;
  font-family: "Formular", "Neue Machina", Arial, Helvetica, sans-serif;
}

@media (min-width: 1400px) {
  .page {
    padding: 0 calc((100% - 1400px) / 2);
  }
}

/* body { */
/* font-family: "Formular"; */
/* max-width: 1440px; */
/* color: #242424; */
/* } */
