.block-with-btn {
  color: #242424;
  background: #B7C09D;
  padding-top: 71px;
  padding-bottom: 141px;
}

@media screen and (max-width: 860px) {
  .block-with-btn {
    padding-left: 20%;
  }
}

@media screen and (max-width: 650px) {
  .block-with-btn {
    padding-top: 56px;
    padding-left: 25px;
    padding-bottom: 72px;
  }
}