.card-play-cover__title {
    display: block;
  padding: 0;
  /* box-sizing: border-box; */
  margin: 0;
  height: 100%;
  background-color: #b7c09d;
  grid-area: title;
  object-fit: cover;
  overflow: hidden;


}
