@import url(./vendors/normalize.css);
@import url(./vendors/fonts/fonts.css);
@import url(./blocks/spectacle/spectacle.css);
@import url(./blocks/spectacles/__title/spectacles__title.css);
@import url(./blocks/spectacles/__title-mobile/spectacles__title-mobile.css);
@import url(./blocks/spectacles/__title/_quantity/spectacles__title_quantity_one.css);
@import url(./blocks/spectacles/_quantity/spectacles_quantity_one.css);
@import url(./blocks/spectacles/__group/spectacles__group.css);
@import url(./blocks/spectacles/__group-mobile/spectacles__group-mobile.css);
@import url(./blocks/spectacles/__group/_quantity/spectacles__group_quantity_two.css);
@import url(./blocks/spectacles/__group/_quantity/spectacles__group_quantity_one.css);
@import url(./blocks/event/event.css);
@import url(./blocks/event/_quantity/event_quantity_one.css);
@import url(./blocks/event/__image/event__image.css);
@import url(./blocks/event/__info/event__info.css);
@import url(./blocks/event/__info-date/event__info-date.css);
@import url(./blocks/event/__info-day/event__info-day.css);
@import url(./blocks/event/__info-time/event__info-time.css);
@import url(./blocks/event/__info-title/event__info-title.css);
@import url(./blocks/event/__info-author/event__info-author.css);
@import url(./blocks/event/__info-text/event__info-text.css);
@import url(./blocks/event/__info-about/event__info-about.css);
@import url(./blocks/event/__info-tickets/event__info-tickets.css);

@import url(./blocks/line/line.css);
@import url(./blocks/line/_quantity/line_quantity_two.css);

body {
  font-family: "Formular";
  max-width: 1440px;
  color: #242424;
}
