@import url(./vendors/normalize.css);
@import url(./vendors/fonts/fonts.css);
@import url(./blocks/spectacle/spectacle.css);
@import url(./blocks/spectacles/__title/spectacles__title.css);
@import url(./blocks/spectacles/__title-mobile/spectacles__title-mobile.css);
@import url(./blocks/spectacles/__title/_quantity/spectacles__title_quantity_one.css);
@import url(./blocks/spectacles/_quantity/spectacles_quantity_one.css);
@import url(./blocks/spectacles/__group/spectacles__group.css);
@import url(./blocks/spectacles/__group-mobile/spectacles__group-mobile.css);
@import url(./blocks/spectacles/__group/_quantity/spectacles__group_quantity_two.css);
@import url(./blocks/spectacles/__group/_quantity/spectacles__group_quantity_one.css);
@import url(./blocks/event/event.css);
@import url(./blocks/event/_quantity/event_quantity_one.css);
@import url(./blocks/event/__image/event__image.css);
@import url(./blocks/event/__info/event__info.css);
@import url(./blocks/event/__info-date/event__info-date.css);
@import url(./blocks/event/__info-day/event__info-day.css);
@import url(./blocks/event/__info-time/event__info-time.css);
@import url(./blocks/event/__info-title/event__info-title.css);
@import url(./blocks/event/__info-author/event__info-author.css);
@import url(./blocks/event/__info-text/event__info-text.css);
@import url(./blocks/event/__info-about/event__info-about.css);
@import url(./blocks/event/__info-tickets/event__info-tickets.css);

@import url(./blocks/line/line.css);
@import url(./blocks/line/_quantity/line_quantity_two.css);

@import "./blocks/block-with-btn/block-with-btn.css";
@import "./blocks/block-with-btn/__btn/block-with-btn__btn.css";
@import "./blocks/block-with-btn/__container/block-with-btn__container.css";
@import "./blocks/block-with-btn/__header/block-with-btn__header.css";
@import "./blocks/block-with-btn/__text/block-with-btn__text.css";
@import "./blocks/block-with-btn/__wrapper/block-with-btn__wrapper.css";

@import "./blocks/cooperation/cooperation.css";
@import "./blocks/cooperation/__header/cooperation__header.css";
@import "./blocks/cooperation/__text/cooperation__text.css";
@import "./blocks/cooperation/__paragraph/cooperation__paragraph.css";
@import "./blocks/cooperation/__link/cooperation__link.css";

@import "./blocks/footer/footer.css";
@import "./blocks/footer/__logo/footer__logo.css";
@import "./blocks/footer/__main/footer__main.css";
@import "./blocks/footer/__container/footer__container.css";
@import "./blocks/footer/__menus/footer__menus.css";
@import "./blocks/footer/__rights/footer__rights.css";

@import "./blocks/partners/partners.css";
@import "./blocks/partners/__list/partners__list.css";
@import "./blocks/partners/__header/partners__header.css";
@import "./blocks/partners/__partner/partners__partner.css";
@import "./blocks/partners/__logo/partners__logo.css";

@import "./blocks/address/address.css";
@import "./blocks/address/__header/address__header.css";
@import "./blocks/address/__text/address__text.css";

@import "./blocks/menu/menu.css";
@import "./blocks/menu/__item/menu__item.css";
@import "./blocks/menu/__link/menu__link.css";

@import "./blocks/copyrights/copyrights.css";
@import "./blocks/copyrights/__company/copyrights__company.css";
@import "./blocks/copyrights/__policy/copyrights__policy.css";
@import "./blocks/copyrights/__link/copyrights__link.css";

@import "./blocks/developers/developers.css";
@import "./blocks/developers/__design/developers__design.css";
@import "./blocks/developers/__code/developers__code.css";
@import "./blocks/developers/__link/developers__link.css";

body {
  font-family: "Formular";
  max-width: 1440px;
  color: #242424;
}
