.title {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  max-width: 568px;
  margin: 145px 35.4% 0 25.1%;
}

@media (max-width: 725px) {
  .title {
    font-size: 28px;
    line-height: 32px;
  }
}
