.title {
  font-family: "Neue Machina", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.01em;
  font-size: 40px;
  line-height: 40px;
  max-width: 568px;
  margin: 145px 35.4% 0 25.1%;
}

@media (max-width: 725px) {
  .title {
    font-size: 28px;
    line-height: 32px;
    margin: 100px 15% 0 5%;
  }
}
