.card__button_download-piece {
  background-color: #B7C09D;
  background-position: 18px;
  display: block;
  background-image: url(../../../../images/button/downloadpiece.svg);
}

.card__button_download-piece:hover .card__button_download-piece-span {
  width: 100%;
  transition: width 400ms ease 100ms;
  opacity: 1;
}
