.video__iframe {
  border: none;
  width: 299px;
  height: 168px;
  margin-right: 30px;
}

.video__iframe:last-of-type{
  margin-right: 0;
}

.video__iframe-first {
  margin-right: 0;
}

@media screen and (min-width: 1024px) {
  .video__iframe {
    width: 716px;
    height: 403px;
  }
}
