.header__button {
  width: 110px;
  height: 28px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin-left: 19px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  color: black;
  cursor: pointer;
  background-image: url(../../../images/Union.svg);
  background-position: right;
  background-size: initial;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  font-family: Formular;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  overflow: hidden;
  padding-left: 10px;
}

.header__button::after {
  content: "ПРОЕКТЫ";
  background-color: black;
  width: 110px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  background-image: url(../../../images/Untitled.svg);
  background-position: right;
  background-size: initial;
  background-repeat: no-repeat;
  color: white;
  z-index: 0;
  opacity: 0;
  font-family: Formular;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  transition: 0.5s;
}

.header__button:hover::after {
  left: 0;
  opacity: 1;
  background-image: url(../../../images/Untitled.svg);
  
}

.header__button:active{
  transform: scale(1.1, 1.1);
}

@media screen and (min-width: 1024px) {
  .header__button {
    margin-top: 33px;
    margin-left: 29px;
    height: 31px;
  }
}


