.spectacles__group {
  padding: 0 30px 0 31px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1439px) {
  .spectacles__group {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .spectacles__group {
    display: none;
  }
}
