.cooperation {
  color: #242424;
  background: #E5E5E5;
  padding-top: 100px;
  padding-left: 50%;
  padding-bottom: 169px;
}

@media screen and (max-width: 900px) {
  .cooperation {
    padding-left: 30%;
  }
}

@media screen and (max-width: 650px) {
  .cooperation {
    padding-left: 15%;
  }
}

@media screen and (max-width: 525px) {
  .cooperation {
    padding-left: 55px;
  }
}