@media screen and (min-width: 1024px) {
    .intro{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        align-items: flex-start;
        margin-top: -15px;
    }
  }