.copyrights {
  display: flex;
  margin-right: 100px;
  font-family: Formular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 1030px) {
  .copyrights {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 59px;
  }
}