.event__info-about {
  padding: 0;
  background: url(../../../images/buttonAbout.svg);
  margin-bottom: 16px;
  display: inline-block;
  width: 154px;
  height: 32px;
}
.event__info-about::after {
  content: "";
  position: absolute;
  left: 0;
  opacity: 0;
  height: 32px;
  width: 0;
  background-image: url(../../../images/buttonAboutWhite.svg);
  background-color: #000;
  transition: 1s;
}
.event__info-about:hover::after {
  background-color: #000;
  opacity: 1;
  width: 154px;
  transition: width 400ms ease 100ms;
}

.event__info-about:active::after {
  transform: scale(1.1, 1.1);
  background-color: #000;
  z-index: 1;
  left: 0;
}
@media (max-width: 500px) {
  .event__info-about {
    margin-bottom: 0;
    margin-right: 27px;
    margin-left: 24px;
  }

  .event__info-about::after {
    left: 24px;
  }

  .event__info-about:active::after {
    left: 20px;
  }
}
