.event__info-about {
  background: url(../../../images/buttonAbout.svg);
  padding: 0;
  margin-bottom: 16px;
  display: inline-block;
  width: 154px;
  height: 32px;
}
.event__info-about:hover {
  background: url(../../../images/aboutBlack.jpg);
}

.event__info-about:active {
  background: url(../../../images/small\ button.gif);
  background-size: auto;
  background-position: center;
}

@media (max-width: 500px) {
  .event__info-about {
    margin-bottom: 0;
    margin-right: 27px;
    margin-left: 24px;
  }
}
