.headline {
    position: relative;
    left: 22%;
    max-height: 80px;
    max-width: 358px;
    margin: 93px 0 48px 0;
    padding: 0;
    border: 0;
    font-family: Neue Machina;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 100%;
/* or 100% */

letter-spacing: -0.01em;

/* black */

color: #242424;
    }