.headline {
    font-family: "NeueMachina", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #242424;;
    margin: 10px 0 0;
    }