.cards_play-cover {
  grid-template-columns: 240px;
  grid-auto-columns: 240px;
}

@media screen and (max-width: 1440px) {
  .cards_play-cover {
    overflow-x: scroll;
    justify-content: start;
  }
}
