.section-cards-play-cover {
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: 68.75%;
        border: 1px red;
      }
      
      @media screen and (max-width: 1023px) {
        .section-cards-play-covers {
          max-width: 703px;
        }
      }
      @media screen and (max-width: 590px) {
        .section-cards-play-cover {
          max-width: 100%;
        }
      }
      @media screen and (max-width: 425px) {
        .section-cards-play-cover{

        }
      }
      
