.card__button_look-chitka {
    background-image: url(../../../../images/button/lookChitka.svg);
    background-color: #B7C09D;
    background-position: 18px;
    display: block;
}

.card__button_look-chitka:hover .card__button_look-chitka-span {
    width: 100%;
    transition: width 400ms ease 100ms;
}